{% macro warningCallout(heading, text) %}
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      {{ heading }}
    </span>
  </h3>
  <p>{{ text | safe }}</p>
</div>
{% endmacro %}
